/* design the button related styling */
.themeBtn   {
    border: 0;
    background: transparent;
    font-size: 1.7rem;
    cursor: pointer;
    margin: 4px;
}
.primaryBtn {
    border: 0;
    background-color: var(--smartYellow);
    padding: 7px 15px;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}
.primaryBtn:hover{
    background: var(--HoversmartYellow);
    cursor: pointer;
}
.infoBtn {
    border: 0;
    background-color: var(--black);
    color: #fff;
    padding: 7px 15px;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}