/* main css file for whole application */
/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}
/* primaryColors */

:root {
  --liteSilver: #e2e2e223;
  --navSilver: #e2e2e291;
  --black: #000;
  --smartYellow: #ffc916;
  --HoversmartYellow: #ecb500;
  --liteSamrtYellow: #ffc400d3;
}
/* toggleMode */
#toggleMode {
  display: none;
}
.darkMode {
  background: #000;
  color: rgb(214, 214, 214);
}
.darkMode .themeBtn {
  color: #000000;
  background-color: var(--liteSilver);
  font-size: 1.8rem;
}
.darkMode .navlinks ul li a {
  color: #000000;
}
.darkMode .title {
  color: #acacac;
}
/* by default styling */
.main {
  width: 100%;
  padding: 2rem 0;
}

.container {
  width: 90%;
  margin: 0rem auto;
  background-color: var(--liteSilver);
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
/* btnCenter */
.btnCenter{
  margin: 4px;
}
/* PageTitle */
.PageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
/* stylinsh m */
.m{
  border-bottom: 5px solid var(--HoversmartYellow);
  font-size: 2.5rem;
}
/* icon */
.icon{
  font-size: 2.5rem;
  color:  var(--liteSamrtYellow);
}
/* navClass */
.scroll .nav{
  position: sticky;
  top: 0;
  background-color: var(--navSilver);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}